@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
	padding: 0;
	margin: 0;
	border: 0;
}  
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

:root{
    --color_for_text:rgb(112, 112, 112);
    --color_for_btn_text:black;
    --color_for_border:rgb(255, 255, 0);
    --color_main:rgb(255, 0, 0);
}

body{
    font-family: 'Roboto', sans-serif;
    
}
.header__blocks,.main__blocks, .footer__block {
    width: 1200px;
    margin: 0 auto;
}

.wraper {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, auto) auto;
}
header{
   
}
.header__blocks{
    display: grid;
    grid-template-rows: auto auto;
 
}
.header__working {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px 10px; 
   
}
h1 {
    color: var(--color_for_text);
    font-size: 2rem; 
    font-weight: 900;
}
.share{
    margin-top: 8px;
}
.header__tel {
    justify-self: end;
    font-weight: 700;
}
.feedback{
    margin: auto;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px 0px black;
    background: linear-gradient(rgb(219, 219, 219),rgb(197, 197, 197),rgb(138, 138, 138));
    font-size: 1.5rem;
}
.feedback:hover{
    background: linear-gradient(rgb(192, 192, 192),rgb(153, 153, 153),rgb(92, 92, 92));
}
.tel{
    
    font-size: 1.5rem; 
    color: var(--color_for_text);
}
.working{
    padding-top: 5px;
    color: black;
    text-align: center;
}

.nav__blocks{
    width: 100%;
    background: linear-gradient(rgb(253, 53, 87),rgb(250, 4, 45),rgb(158, 1, 27));
    box-shadow: 0 0 2px 0px black;
}
nav{
    width: 1200px;
    margin: 0 auto;
     
     
}
.header__ul{
display: grid;
grid-template-columns: repeat(6, 1fr);
height: 100%;
text-align: center;
background: linear-gradient(rgb(253, 53, 87),rgb(250, 4, 45),rgb(158, 1, 27));
}
.header__li{
    
    border-left: 1px solid black;  
    
    cursor: pointer;
    
    
}
.hover__red_btn:hover{
    
    background: linear-gradient(rgb(255, 40, 76),rgb(233, 3, 41),rgb(134, 1, 23));
    
    
    
}
.hover__red_btn:active{
    
    background: linear-gradient(rgb(255, 40, 76),rgb(233, 3, 41),rgb(134, 1, 23));
    box-shadow: 0 0 5px 0px black inset;
    
    
    
}
.header__li:nth-child(6){
    border-right: 1px solid black;  
    
}
.header__button {
    padding: 5px 15px;
    display: block;
    padding: auto;
    color: white;
    font-size: 1.5rem; 
   
    
    
}
.header__button:active{
    transform: scale(.98);
    
}

main{
    margin-top: 5px;
    display: grid;
   
}
.main__blocks {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 300px auto;
    gap: 5px;
    
}
.main__download_price {
    
    display: grid;
   
    grid-column: 1/3;
   grid-row: 1/2;
}
.download__img {
    padding: 20px;
    width: 100%;
    height: 300px;
    background: url(../img/1634896974_5-bigfoto-name-p-stal-v-dizaine-doklad-8.jpg) center/cover no-repeat fixed;
}
h2{
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
}
.download__ul {
    display: grid;
    gap: 10px;
    
}
.download__li {
    text-align: center;
    font-size: 2rem;
}
.download__price {
    display: grid;
    color: white;
    gap: 15px;
    text-shadow: 2px 2px 3px black;
}
.download__button {
    background: linear-gradient(rgb(253, 53, 87),rgb(250, 4, 45),rgb(158, 1, 27));
    color: white;
    border-radius: 5px;
    font-size: 3rem;
    margin: auto;
    padding: 5px 10px;
    box-shadow: 0 0 2px 0px black;
}
aside{
   position: relative;
    grid-column: 1/2;
   grid-row: 2/3;
}

.catalog__ul {
    display: grid;
    gap: 5px;
    position: relative;
    right: 0;
    top: 0;   
}
.catalog__ul_active{
 
}
.catalog__li {
    box-shadow: 0px 0px 2px 1px black;
    border-radius: 5px 0 0 5px;
    border-right: none;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px ;
    z-index: 5;
    background-color: white;
    cursor: pointer;
    position: relative;
    left: 0;
    transition: .5s;
}
section{
    
    box-shadow: 0px 0px 2px 1px black;
    grid-column: 2/3;
    grid-row: 2/3; 
   
}
#h3-category{
    width: 100%;
    padding: 10px 15px;
    background: linear-gradient(rgb(80, 80, 80),rgb(129, 129, 129),rgb(214, 214, 214));
    transition: .3s;
}
.product{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    padding: 15px;
}
.product__img{
 width: 100%;
 height: 250px;
 background: url(../img/a1.png) center/cover no-repeat;
}
.product__li{
    padding: 5px;
    font-size: 1.2rem;
}
.product__text{
    padding: 10px ;
    line-height: 25px;
    font-size: 1.5rem;
}
.product__cards{}
.cards{
   
    
    position: relative;
    display: grid;
    grid-auto-flow: row;
    padding: 15px;
    gap: 5px;
}

.card{
    
    font-size: 1.2rem;
  padding: 5px 10px;  
  
}
caption{
    padding: 5px ;
    font-weight: 700;
}
table{
   background-color: black;
}
tr{
   
}
th{ 
    padding: 5px;  
    background-color: rgb(211, 211, 211);
}
.com_block {
    width: 1200px;
    box-shadow: 0px 0px 2px 1px black;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    display: grid;
    grid-template-columns:repeat(2,auto) ;
    grid-template-rows:repeat(3,auto) ;
   
}
h3{
    font-size: 2rem;
    grid-column: 1/2;
    
}
.com__add{
    grid-column: 2/3;
    font-size: 1rem;
    color: black;
    margin: auto; 
    position: relative; 
    background: linear-gradient(rgb(80, 80, 80),rgb(129, 129, 129),rgb(214, 214, 214));
    padding: 5px 25px 5px 15px;
    box-shadow: 0px 0px 2px 1px black;
    
}
.com__add:hover{
    background: linear-gradient(rgb(61, 61, 61),rgb(90, 90, 90),rgb(175, 174, 174));
    
}
.com__add:active{
    box-shadow: 0 0 5px 0px black inset;
    transform: scale(.98);
}
.com__add span{
    position: absolute; 
    right: 5px;
    font-size: .8rem; 
    transition: 1s;
    transform: rotate(360deg); 
    
}





.com__slider {
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
    gap: 5px;
    margin: 5px 0;
}
.com__frame {
    box-shadow: 0px 0px 2px 1px black;
    
}
.frame__header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(rgb(80, 80, 80),rgb(129, 129, 129),rgb(214, 214, 214));
    padding: 5px;
    font-size: 1.5rem;
    
}
.frame__auhtor {
    
}
.frame__date {
}
.frame__text {
    line-height: 20px;
    padding: 15px;
    font-size: 1.2rem;
}

.com__all{
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
}
.com__all:hover{
    text-decoration: underline;
}
footer{
    color: white;
    margin-top: 5px;
    background-color: rgb(44, 44, 44);
padding: 30px;
}
.footer__block {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.footer__navigation {
}
.footer__ul {
    display: grid;
    gap: 5px;
}
.footer__li {
    color: black;
}
.footer__button {
}
.footer__button:hover{
    text-decoration: underline;
}
.connection {
    font-size: 1.2rem;
    display: grid;
    gap: 20px;
   
}
.label__subscription {
 
}
.p__subscription {
    margin-top: 5px;
}
.input__subscription {
    font-size: 1.5rem;
    padding: 5px 10px;
    text-align: center;
    border-radius:  5px 0 0 5px;
}
.button__subscription {
    border-radius: 0 5px 5px 0;
    font-size: 1.5rem;
    background: linear-gradient(rgb(253, 53, 87),rgb(250, 4, 45),rgb(158, 1, 27));
    color: white;
    padding: 5px 10px;
    margin-left: -5px;
}
.connection__mess{
display: grid;
grid-template-columns: auto repeat(3,40px);
}
.connection__mess p{
    margin-top: 10px;
    font-size: 1.5rem;
}
.mess__icon{
    cursor: pointer;
    width: 35px;
    height: 35px;
}
.whatsapp {
   
    background: url(../img/whatsapp.png) center/cover no-repeat;
}
.viber {
    background: url(../img/viber.png) center/cover no-repeat;
}
.telegram {
    background: url(../img/telegram.png) center/cover no-repeat;
}

.input__subscription {
}
.pouring__block{
background-color: rgb(255, 245, 154);
transition: .5s;
left: 6px;
}

/*--Кнопка вверх--*/
.back_to_top {
    position: fixed;
    bottom: 80px;
    right: 25px;
    z-index: 2000;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    background: linear-gradient(rgb(253, 53, 87),rgb(250, 4, 45),rgb(158, 1, 27));
    cursor: pointer;
    display: none;
    
  }
  .back_to_top::before {
      content: '';
      width: 3px;
      height: 22px;
      position: absolute;
      top: 14px;
      left:16px;
      transform: rotate3d(0,0,1, 45deg);
      background-color: rgb(255, 255, 255);
      border-radius: 0px 0px 2px 2px;
      z-index: 2001;

  }

  .back_to_top::after {
    content: '';
    width: 3px;
    height: 22px;
    position: absolute;
    top: 14px;
    right: 17px;
    transform: rotate3d(0,0,1, -45deg);
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 2px 2px;
    z-index: 2001;
}
  .back_to_top:hover {
    background: linear-gradient(rgba(253, 53, 86, 0.5),rgba(250, 4, 45, 0.5),rgba(158, 1, 27, 0.5));
  }
  
  .back_to_top-show {
    display: block;
	
  }
  .fixid__nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

.connection__mess_fixid {
    position: fixed;
    top: 100px;
    right: 35px;
    
}
.mess__icon_fixid {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    z-index: 50;
    transition: 1s;
}
.conect__burger {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: url(../img/messBurger.png) center/cover no-repeat;
    z-index: 100;
}
.conect__burger_active{
    background: url(../img/closed.png) center/90% no-repeat;
    z-index: 100;
    
}

.telphon {
    width: 45px;
    height: 45px;
    top: -50px;
    background: url(../img/phone.png) center/cover no-repeat;
    animation: brr .1s infinite;
}

@keyframes brr {
    97%{
        left: -1px;
    }
    98%{
        left: 0px;
    }
    99%{
        left: 1px;
    }
    100%{
        left: 0;
    }
}

.whatsapp {
    top: -25px;
    left: -50px;
}
.viber {
    top: 25px;
    left: -50px;
}
.telegram {
    top: 50px;
    
}
.conect__burger_position_active{
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
}
.display__none{
    display: none;
}